Repository xtdb/xtdb, pull requests merged in 2020-04, with the labels that each got.

#755 Bench report disk usage 750
  crux-bench/src/crux/bench.clj
  crux-bench/src/crux/bench/main.clj
  crux-bench/src/crux/bench/ts_devices.clj
  crux-bench/src/crux/bench/ts_weather.clj
  crux-bench/src/crux/bench/watdiv_crux.clj
Labels: bench-389

#770 Include watdiv ingest time other databases
  crux-bench/bin/run-datomic.sh
  crux-bench/bin/run-neo4j.sh
  crux-bench/bin/run-rdf4j.sh
  crux-bench/src/crux/bench/main.clj
  crux-bench/src/crux/bench/watdiv_crux.clj
  crux-bench/src/crux/bench/watdiv_datomic.clj
  crux-bench/src/crux/bench/watdiv_neo4j.clj
  crux-bench/src/crux/bench/watdiv_rdf4j.clj
Labels: bench-389

#769 Bench extract comparison metrics and include further metrics
  crux-bench/cloudformation.yaml
  crux-bench/project.clj
  crux-bench/src/crux/bench.clj
  crux-bench/src/crux/bench/main.clj
  crux-bench/src/crux/bench/ts_devices.clj
  crux-bench/src/crux/bench/ts_weather.clj
  crux-bench/src/crux/bench/watdiv_crux.clj
Labels: bench-389

#772 Open history 410
  crux-bench/src/crux/bench/ts_devices.clj
  crux-bench/src/crux/bench/ts_weather.clj
  crux-core/src/crux/api.clj
  crux-core/src/crux/api/ICruxDatasource.java
  crux-core/src/crux/query.clj
  crux-http-client/src/crux/remote_api_client.clj
  crux-http-server/src/crux/http_server.clj
  crux-test/test/crux/api_test.clj
  crux-test/test/crux/space_tutorial_test.clj
  docs/clojure_api.adoc
Labels: api-383

#800 Crux Data Browser - Entity State
  crux-http-server/project.clj
  crux-http-server/src/crux/http_server.clj
Labels: console-399

#808 Add _query endpoint, and ability to find linked entities
  crux-http-server/project.clj
  crux-http-server/src/crux/http_server.clj
  dev/user.clj
Labels: console-399

#828 Crux Data Browser - Accept map keys
  crux-core/src/crux/codec.clj
  crux-http-client/src/crux/remote_api_client.clj
  crux-http-server/src/crux/http_server.clj
  crux-test/test/crux/api_test.clj
Labels: console-399
