Repository xtdb/xtdb, pull requests merged in 2020-03, with the labels that each got.

#695 Soak ingesting weather data
  examples/soak/cloudformation/ecs-cluster.yml
  examples/soak/cloudformation/ecs-ingest.yml
  examples/soak/project.clj
  examples/soak/src/crux/soak/ingest.clj
Labels: soak-data-397

#708 Sorted maps microbench
  crux-bench/README.md
  crux-bench/src/crux/bench.clj
  crux-bench/src/crux/bench/main.clj
  crux-bench/src/crux/bench/sorted_maps_microbench.clj
  crux-test/test/crux/sorted_maps_microbench.clj
Labels: bench-389

#709 Not eval'ing tx-fn args
  crux-core/src/crux/tx.clj
  crux-test/test/crux/tx_test.clj
Labels: performance

#710 Start up kafka containers alongside bench
  crux-bench/cloudformation.yaml
  crux-bench/src/crux/bench.clj
  crux-bench/src/crux/bench/main.clj
Labels: bench-389

#720 Tx consumer performance
  crux-core/src/crux/node.clj
  crux-core/src/crux/tx.clj
  crux-core/src/crux/tx/consumer.clj
Labels: performance

#723 Add HTML formatting for the nightly benchmark email.
  crux-bench/src/crux/bench.clj
  crux-bench/src/crux/bench/main.clj
Labels: bench-389

#733 Add webpage for crux-soak
  examples/soak/.dir-locals.el
  examples/soak/.gitignore
  examples/soak/cloudformation/ecs-ingest.yml
  examples/soak/cloudformation/ecs-service.yml
  examples/soak/project.clj
  examples/soak/resources/public/style.css
  examples/soak/src/crux/soak/config.clj
  examples/soak/src/crux/soak/ingest.clj
  examples/soak/src/crux/soak/main.clj
  examples/soak/src/user.clj
Labels: soak-data-397

#739 Add a route53 record set for soak.crux.cloud
  examples/soak/cloudformation/load-balancer.yml
Labels: soak-data-397

#741 Add status endpoint to the webservice, and use for health check.
  examples/soak/cloudformation/load-balancer.yml
  examples/soak/src/crux/soak/main.clj
Labels: soak-data-397

#745 Add HTTPS/HTTPS redirect to loadbalancer
  examples/soak/cloudformation/load-balancer.yml
Labels: soak-data-397
