Repository xtdb/xtdb, pull requests merged in 2020-01, with the labels that each got.

#520 New 'entity' arity accepts a snapshot argument for >40% performance boost
  crux-core/src/crux/api.clj
  crux-core/src/crux/api/ICruxDatasource.java
  crux-core/src/crux/query.clj
  crux-test/test/crux/query_test.clj
Labels: api-383

#536 Add note about rocksdb configuration options #472
  docs/configuration.adoc
Labels: docs-386

#537 Add information about http servers/remote api clients #471
  crux-test/test/crux/examples_test.clj
  docs/configuration.adoc
  docs/deps.edn
  docs/src/docs/examples.clj
Labels: docs-386

#577 Refactoring bench framework to make upcoming changes simpler
  crux-bench/src/crux/bench.clj
  crux-bench/src/crux/bench/main.clj
  crux-bench/src/crux/bench/ts_devices.clj
  crux-bench/src/crux/bench/ts_weather.clj
  crux-bench/src/crux/bench/utils.clj
Labels: bench-389

#608 Logback consistency
  crux-docker/Dockerfile
  crux-docker/README.md
  crux-docker/docker-compose.dev.yml
  crux-docker/resources/logback.xml
  crux-test/project.clj
  crux-test/test-resources/logback-test.xml
  crux-uberjar/resources/logback.xml
  resources/logback.xml
Labels: dev-experience
