Repository xtdb/xtdb, pull requests merged in 2021-01, with the labels that each got.

#1358 Ensuring that evict clears the bitemp index.
  crux-core/src/crux/codec.clj
  crux-core/src/crux/kv/index_store.clj
  crux-test/test/crux/api_test.clj
  crux-test/test/crux/tx_test.clj
Labels: bug, index-bump

#1380 Fix entity-history doc-hang
  crux-core/src/crux/db.clj
  crux-core/src/crux/query.clj
  crux-test/test/crux/space_tutorial_test.clj
Labels: bug

#1396 Add notes about `crux-in-memory` artifact to docs, add dockerhub docs
  docs/reference/modules/ROOT/pages/building.adoc
Labels: docs
