Repository xtdb/xtdb, pull requests merged in 2024-09, with the labels that each got.

#3667 Resolve result-formats for all fields during bind, return if portal is described in pgwire
  core/src/main/clojure/xtdb/pgwire.clj
  src/test/clojure/xtdb/pgwire_test.clj
Labels: pgwire

#3698 Improved error messages.
  api/src/main/clojure/xtdb/tx_ops.clj
Labels: error-msgs

#3708 clients -> PG in the docs
  codox.edn
  core/src/main/clojure/xtdb/node.clj
  docs/.gitignore
  docs/astro.config.mjs
  docs/package.json
  docs/public/drivers/http/openapi/index.html
  docs/public/drivers/http/openapi/openapi.yaml
  docs/public/drivers/java/javadoc
  docs/public/drivers/kotlin/kdoc
  docs/src/content/docs/clients.adoc
  docs/src/content/docs/clients/clojure.adoc
  docs/src/content/docs/clients/java.adoc
  docs/src/content/docs/clients/kotlin.adoc
  docs/src/content/docs/config.adoc
  docs/src/content/docs/config/clojure.adoc
  docs/src/content/docs/config/modules/http-server.adoc
  docs/src/content/docs/config/storage.adoc
  docs/src/content/docs/config/storage/azure.adoc
  docs/src/content/docs/config/storage/google-cloud.adoc
  docs/src/content/docs/config/storage/s3.adoc
  docs/src/content/docs/config/tx-log.adoc
  docs/src/content/docs/config/tx-log/kafka.adoc
  docs/src/content/docs/drivers.adoc
  docs/src/content/docs/drivers/clojure/getting-started.adoc
  docs/src/content/docs/drivers/http/getting-started.adoc
  docs/src/content/docs/drivers/java/getting-started.adoc
  docs/src/content/docs/drivers/kotlin/getting-started.adoc
  docs/src/content/docs/guides/clojure-sql-cookbook.adoc
  docs/src/content/docs/guides/starting-with-aws.adoc
  docs/src/content/docs/guides/starting-with-azure.adoc
  docs/src/content/docs/intro/installation-via-docker.adoc
  docs/src/content/docs/quickstart/sql-overview.mdx
  docs/src/content/docs/reference/main/data-types/temporal-types.adoc
  docs/src/content/docs/reference/main/sql/queries.adoc
  docs/src/content/docs/reference/main/sql/txs.adoc
  docs/src/content/docs/reference/main/xtql/queries.adoc
  docs/src/content/docs/reference/main/xtql/txs.adoc
  docs/src/content/docs/tutorials/immutability-walkthrough/part-1.mdx
  docs/src/content/docs/tutorials/immutability-walkthrough/part-2.mdx
  docs/src/content/docs/tutorials/immutability-walkthrough/part-3.mdx
  docs/src/content/docs/tutorials/immutability-walkthrough/part-4.mdx
  docs/src/content/docs/tutorials/learn-xtql-today-with-clojure.adoc
  docs/src/styles/tailwind.css
  src/test/clojure/xtdb/pgwire_test.clj
  src/test/java/xtdb/api/XtdbHelloWorld.java
  src/test/java/xtdb/api/XtdbHelloWorld.kt
Labels: documentation

#3731 Propagate warnings through pg-wire - #3461
  core/src/main/clojure/xtdb/pgwire.clj
  core/src/main/clojure/xtdb/query.clj
  core/src/main/clojure/xtdb/sql.clj
  core/src/main/clojure/xtdb/sql/plan.clj
  src/test/clojure/xtdb/pgwire_test.clj
Labels: pgwire

#3732 Ignore RETURNING at the end of DML statements - fix #3668
  core/src/main/antlr/xtdb/antlr/Sql.g4
  core/src/main/antlr/xtdb/antlr/SqlLexer.g4
  src/test/clojure/xtdb/pgwire_test.clj
  src/test/clojure/xtdb/sql_test.clj
Labels: pgwire

#3727 Add pg-wire interval support
  core/src/main/clojure/xtdb/pgwire.clj
  core/src/main/clojure/xtdb/types.clj
  src/test/clojure/xtdb/information_schema_test.clj
  src/test/clojure/xtdb/pgwire_test.clj
Labels: pgwire

#3744 'playground' creates a new node for every new database name
  core/src/main/clojure/xtdb/cli.clj
  core/src/main/clojure/xtdb/metrics.clj
  core/src/main/clojure/xtdb/node/impl.clj
  core/src/main/clojure/xtdb/pgwire.clj
  core/src/main/kotlin/xtdb/api/Xtdb.kt
  src/test/clojure/xtdb/pgwire_test.clj
Labels: pgwire

#3749 Add fallback value for LocalTime in json-clj for pgwire TIME type
  core/src/main/clojure/xtdb/pgwire.clj
  src/test/clojure/xtdb/pgwire_test.clj
Labels: pgwire
